<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>




<script>

     $(document).ready(function() {
         $("#btn-addCustomExt").click(function() {
             var inputText = $("#input-custom-ext").val();
             if (inputText !== "") {
                   $.ajax({
                        url: '/api/assignment/filter/extension',
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({ extension: inputText }),
                        dataType: 'json',
                        async: false,
                        success: function(response) {
                            if (response.message == "정상 처리되었습니다.") {
                                alert(response.message);
                                window.location.reload();
                            } else {
                                alert(response.message);
                            }
                        },
                        error: function(error) {
                            alert("항목 추가에 실패했습니다.");
                        }
                   });
             }
         });


         // 고정 확장자에 대해서 PUT 요청 보내도록 추가
         $('input[type="checkbox"]').on('change', function() {
                let extValue = $(this).attr('id').split('_input')[0];

                $.ajax({
                    url: '/api/assignment/filter/extension',
                    type: 'PUT',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ extension: extValue }),
                    dataType: 'json',
                    async: false,
                    success: function(response) {
                        alert(response.message);
                        window.location.reload();
                    },
                    error: function(error) {
                        alert("항목 수정에 실패했습니다.");
                    }
                });
         });


         // X 버튼 클릭 시

         $('.delete-button').on('click', function() {
            let extValue = $(this).siblings('.data').text(); // .data 요소의 텍스트 값을 가져옵니다

            $.ajax({
                url: '/api/assignment/filter/extension',
                type: 'PUT',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ extension: extValue }),
                dataType: 'json',
                async: false,
                success: function(response) {
                    alert(response.message);
                    window.location.reload();
                },
                error: function(error) {
                    alert("항목 삭제에 실패했습니다.");
                }
            });
         });
         

     });
</script>

</body>
</html>