<!DOCTYPE HTML>
<head>
    <title>FLOW_Server_Assignment</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        .container {
            display: flex;
        }

        .label {
            margin-right: 4px;
        }

        .input-row {

        }

        .input-row input {

        }

        .item-box {
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 5px;
            margin: 5px;
            display: flex;
            align-items: center;
        }
        .data {
            flex-grow: 1;
        }
        .delete-button {
            cursor: pointer;
            color: black;
        }
    </style>

</head>
<body>