{{>layout/header}}

<h1>Test Index Page</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/extensions/block" role="button" class="btn btn-primary"> 파일 확장자 차단</a>
        </div>
    </div>
</div>

{{>layout/footer}}